{% extends "base.html" %}

{% block title %}New Problem Set{% endblock %}
{% block heading %}New Problem Set{% endblock %}

{% block breadcrumbs %}
  <p class="muted">
    <a href="{% url 'dashboard' %}">Home</a> /
    <a href="{% url 'class_detail' class_id=course.id %}">{{ course.title }}</a> /
    New Problem Set
  </p>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Save</button>
  </form>
{% endblock %}
